{
    "semi": true,
    "singleQuote": true,
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "singleAttributePerLine": true,
    "plugins": [
        "prettier-plugin-blade",
        "@prettier/plugin-php",
        "prettier-plugin-organize-attributes",
        "prettier-plugin-tailwindcss"
    ],
    "attributeGroups": [
        "^class$",
        "^(id|name)$",
        "$DEFAULT",
        "^aria-"
    ],
    "attributeSort": "ASC",
    "pluginSearchDirs": false,
    "overrides": [
        {
            "files": [
                "*.blade.php"
            ],
            "options": {
                "parser": "blade"
            }
        }
    ]
}